[submodule ".registry"]
	path = .registry
	url = https://github.com/afrimapr/universe
	branch = HEAD
[submodule "afriadmin"]
	path = afriadmin
	url = https://github.com/afrimapr/afriadmin
[submodule "africovid"]
	path = africovid
	url = https://github.com/afrimapr/africovid
[submodule "afrihealthsites"]
	path = afrihealthsites
	url = https://github.com/afrimapr/afrihealthsites
[submodule "afrilearndata"]
	path = afrilearndata
	url = https://github.com/afrimapr/afrilearndata
[submodule "afrilearnr"]
	path = afrilearnr
	url = https://github.com/afrimapr/afrilearnr
[submodule "fontawesome"]
	path = fontawesome
	url = https://github.com/rstudio/fontawesome
	registered = false
[submodule "rgeoboundaries"]
	path = rgeoboundaries
	url = https://github.com/wmgeolab/rgeoboundaries
	registered = false
