[submodule ".registry"]
	path = .registry
	url = https://github.com/afrimapr/universe
	shallow = true
	branch = HEAD
[submodule "afrilearndata"]
	path = afrilearndata
	url = https://github.com/afrimapr/afrilearndata
	shallow = true
	registered = true
[submodule "fontawesome"]
	path = fontawesome
	url = https://github.com/rstudio/fontawesome
	shallow = true
	registered = false
[submodule "rgeoboundaries"]
	path = rgeoboundaries
	url = https://github.com/wmgeolab/rgeoboundaries
	shallow = true
	registered = false
